/* Colors and fonts */
#introduction {
  position: relative;
  background-image: url("C:/Users/USER/Desktop/About me/Images/Screenshot (608).png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 40px; /* Aumenta il padding per più spazio */
  border-radius: 0; /* Per mantenere i bordi squadrati */
}
#introduction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Sfumatura scura per migliorare leggibilità */
  z-index: 1;
}

#introduction h1,
#introduction p,
#introduction .btn-blue {
  position: relative;
  z-index: 2; /* Porta il testo in primo piano */
}
#introduction p {
  font-size: 50px;
  font-weight: 700;
  color: #E6A8A8; /* Rosa */
  font-family: 'Playfair Display', cursive;
  margin-bottom: 40px;
}

/* Stile del pulsante "Discover My World" */
.btn-blue {
  background-color: #E6A8A8; /* Rosa come About Me */
  color: #8B3D3D; /* Rosso scuro */
  padding: 12px 18px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif; /* Font più semplice ma elegante */
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
}
.btn-blue:hover {
  background-color: #F2DECE; /* Crema */
  color: #8B3D3D; /* Rosso scuro */
}

/* Per lo sfumo progressivo mentre si scorre */
#introduction {
  transition: opacity 0.8s ease-in-out;
}

#introduction:hover {
  opacity: 0.6; /* Effetto di dissolvenza al passaggio del mouse */
}
body {
	background: #8B3D3D;
	color: #F2DECE;
	font-family: 'Playfair Display', serif;
	font-size: 17px;
	font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  color: #E6A8A8;
  font-size: 150px;
  font-weight: 700;
  font-family: 'Playfair Display', cursive;
  text-align: center;
}
h2 {
  color: #E6A8A8;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #E6A8A8; /* Rosa chiaro */
  font-weight: bold;
  font-size: 16px;
}
a:hover {
  color: #FFFFFF;
}

/* Custom design with class (99% of your design) */
.container {
  width: 600px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.card-white h2 {
  color: #F2DECE; /* Crema */
}
.card-white {
  margin: 30px 0px; /* Aumenta la distanza tra i riquadri */
  padding: 40px;
  background-color: #E6A8A8; /* Rosso scuro */
  color: #F2DECE; /* Rosa chiaro */
  text-align: center;
  box-shadow: none;
  border-radius: 0px;
  border: none;
}
.card-white:not(:last-child) {
  border-bottom: 2px solid #E6A8A8; /* Linea di separazione */
  padding-bottom: 50px;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: #8B3D3D; /* Rosso scuro */
  color: white;
  padding: 12px 18px;
  border-radius: 30px; /* Per un look più arrotondato */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-blue:hover {
  background-color: #5A1E1E;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 40px;
  color: #F2DECE;
}
.list-inline i:hover {
  color: white;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}